@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>All Stars</h1>
    <p class="lead">Somos una empresa dedicada a presentar shows de alta calidad para usted!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Información</h2>
        <p>
            Por favor, logueese para acceder a información adicional!
        </p>
        
    </div>

    <div class="col-md-4">
        <img src="https://play-lh.googleusercontent.com/PuuE9Y9_YxT0FrgJ9KecTsX6WB_AzdlL2zubNBr23AzWT1cgVTH4vB7PA0O2ATC1nw" width="300px" />
    </div>
</div>